<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <meta name="Generator" content="iWeb 3.0.1" />
    <meta name="iWeb-Build" content="local-build-20100604" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta name="viewport" content="width=700" />
    <title>Island School Energy Systems</title>
	<%= stylesheet_link_tag("Home_Page") %>
    <%= javascript_include_tag("iWebSite.js", "Widgets/SharedResources/WidgetCommon.js", "Widgets/Navbar/navbar.js","iWebImage.js") %>
    <%= javascript_include_tag("Home_Page.js") %>
  </head>
  <body style="background: rgb(101, 101, 101); margin: 0pt; " onload="onPageLoad();" onunload="onPageUnload();">
    <div style="text-align: center; ">
      <div style="margin-bottom: 10px; margin-left: auto; margin-right: auto; margin-top: 10px; overflow: hidden; position: relative; word-wrap: break-word;  background: rgb(255, 255, 255); text-align: left; width: 700px; " id="body_content">
        <div style="margin-left: 0px; position: relative; width: 700px; z-index: 0; " id="nav_layer">
          <div style="height: 0px; line-height: 0px; " class="bumper"> </div>
          <div class="com-apple-iweb-widget-navbar flowDefining" id="widget0" style="margin-left: 20px; margin-top: 0px; opacity: 1.00; position: relative; width: 629px; z-index: 1; ">
    
            <div id="widget0-navbar" class="navbar">

      
              <div id="widget0-bg" class="navbar-bg">

        
                <ul id="widget0-navbar-list" class="navbar-list">
 <li></li> 
</ul>
                
      
</div>
              
    
</div>
          </div>
          <script type="text/javascript"><!--//--><![CDATA[//><!--
new NavBar('widget0', 'javascripts/Widgets/Navbar', 'javascripts/Widgets/SharedResources', '.', {"path-to-root": "", "navbar-css": ".navbar {\n\tfont-family: 'Helvetica Neue', Arial, sans-serif;\n\tfont-size: .8em;\n\tcolor: #666666;\n\tline-height: 30px;\n\tborder-bottom: 3px solid #ccc;\n}\n\n.navbar-bg {\n\ttext-align: right;}\n\n.navbar-bg ul {\n\tlist-style: none;\n\tmargin: 0px;\n\tpadding: 0px;\n}\n\n\nli {\n\tlist-style-type: none;\n\tdisplay: inline;\n\tpadding: 0px 5px 0px 0px;\n}\n\n\nli a {\n\ttext-decoration: none;\n\tpadding: 10px;\n\tcolor: #666666;\n\tfont-weight: bold;\n}\n\nli a:visited {\n\ttext-decoration: none;\n\tpadding: 10px;\n\tcolor: #666666;\n\tfont-weight: bold;\n}\n\nli a:hover\r{\r\n \tcolor: #999999;\n\ttext-decoration: none;\r}\n\n\nli.current-page a\r{\r\t color: #66ABC5;\n\ttext-decoration: none;\r}", "current-page-GUID": "EDB0C0F8-9B11-4D3E-88C6-6E973F2CECDE", "isCollectionPage": "NO"});
//--><!]]></script>
          <div style="clear: both; height: 0px; line-height: 0px; " class="spacer"> </div>
        </div>
        <div style="height: 75px; margin-left: 0px; position: relative; width: 700px; z-index: 10; " id="header_layer">
          <div style="height: 0px; line-height: 0px; " class="bumper"> </div>
          <div id="id1" style="height: 43px; left: 20px; position: absolute; top: 17px; width: 515px; z-index: 1; " class="style_SkipStroke shape-with-text">
            <div class="text-content style_External_515_43" style="padding: 0px; ">
              <div class="style">
                <p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style">Island School Energy Systems</p>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-left: 0px; position: relative; width: 700px; z-index: 5; " id="body_layer">
          <div style="height: 0px; line-height: 0px; " class="bumper"> </div>
          <div style="height: 1px; line-height: 1px; " class="tinyText"> </div>
          <div style="margin-left: 20px; margin-top: 312px; position: relative; width: 390px; z-index: 1; " class="style_SkipStroke_1 shape-with-text flowDefining">
            <div class="text-content style_External_390_226" style="padding: 0px; ">
              <div class="style_1">
                <p style="padding-top: 0pt; " class="paragraph_style_1">Sustainability has been a cornerstone of The Island School since its creation. The goal of the school was not only to teach sustainability, but to live it. We limit our impact by producing most of the energy consumed on campus through sustainable energy producing resources, and by limiting the amount of energy the school consumes as a whole. The first is accomplished by using our 26 kW capacity solar panels, and a 10kW wind turbine; the second by teaching students to live more simply. They are limited in their luxury items to essentially a computer, lights and fans, and they are taught to use the resources that they have as efficiently as possible. The combination of producing our own energy and limiting our energy use allows students to see what it takes to live a sustainable lifestyle.  Hopefully The Island School will be able to refine its systems to the point where it can serve as a model of sustainable energy for other entities. <span class="style_2"><br /></span></p>
              </div>
              <div style="height: 16px; line-height: 16px; " class="tinyText"> </div>
            </div>
          </div>
          


          <div style="height: 280px; width: 400px;  height: 280px; left: 15px; position: absolute; top: 18px; width: 400px; z-index: 1; " class="tinyText stroke_0">
            <div style="position: relative; width: 400px; ">
              <%= image_tag("home/shapeimage_1.png") %>
            </div>
          </div>
          


          <div id="id2" style="height: 119px; left: 421px; position: absolute; top: 13px; width: 270px; z-index: 1; " class="style_SkipStroke_2 shape-with-text">
            <div class="text-content style_External_270_119" style="padding: 0px; ">
              <div class="style_3">
                <p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style_2">The Island School, Cape Eleuthera, Bahamas</p>
              </div>
            </div>
          </div>
          


          <div style="height: 364px; width: 260px;  height: 364px; left: 426px; position: absolute; top: 140px; width: 260px; z-index: 1; " class="tinyText stroke_1">
            <div style="position: relative; width: 260px; ">
              <%= image_tag("home/shapeimage_2.png") %>
            </div>
          </div>
          


          <div id="id3" style="height: 100px; left: 300px; position: absolute; top: 178px; width: 100px; z-index: 1; " class="style_SkipStroke_3 shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_100_100" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default"></div>
            </div>
          </div>
          


          <div id="id4" style="height: 100px; left: 300px; position: absolute; top: 191px; width: 100px; z-index: 1; " class="style_SkipStroke_3 shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_100_100" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default"></div>
            </div>
          </div>
          


          <div id="id6" style="height: 100px; left: 310px; position: absolute; top: 201px; width: 100px; z-index: 1; " class="style_SkipStroke_3 shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_100_100" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default">
                <div class="paragraph Free_Form" style="padding-bottom: 0pt; padding-top: 0pt; "><div id="id5" style="height: 92px; position: relative; width: 92px; " class="style_SkipStroke_3 shape-with-text inline-block"><div class="text-content graphic_textbox_layout_style_default_External_92_92" style="padding: 0px; "><div class="graphic_textbox_layout_style_default"></div></div></div></div>
              </div>
              <div style="clear: both; height: 0px; line-height: 0px; " class="tinyText"> </div>
            </div>
          </div>
          


          <div id="id7" style="height: 117px; left: 19px; position: absolute; top: 527px; width: 391px; z-index: 1; " class="style_SkipStroke_3 shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_391_117" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default">
                <p style="padding-top: 0pt; " class="paragraph_style_3">Current Consumption and Production<br /></p>
                <p class="paragraph_style_3">Consumption:                Production:<br /></p>
                <p class="paragraph_style_3"><br /></p>
                <p class="paragraph_style_3">Yesterday’s Consumption and Production<br /></p>
                <p style="padding-bottom: 0pt; " class="paragraph_style_3">Consumption:                Production:</p>
              </div>
            </div>
          </div>
          <div style="height: 105px; line-height: 105px; " class="spacer"> </div>
        </div>
        <div style="height: 75px; margin-left: 0px; position: relative; width: 700px; z-index: 15; " id="footer_layer">
          <div style="height: 0px; line-height: 0px; " class="bumper"> </div>
        </div>
      </div>
    </div>
  </body>
</html>


