<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <meta name="Generator" content="iWeb 3.0.1" />
    <meta name="iWeb-Build" content="local-build-20100604" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta name="viewport" content="width=700" />
    <title>Energy Research Team</title>
	<%= stylesheet_link_tag("Energy_Research_Spring_2010") %>
    <%= javascript_include_tag("iWebSite.js", "Widgets/SharedResources/WidgetCommon.js", "Widgets/Navbar/navbar.js","iWebImage.js") %>
    <%= javascript_include_tag("Energy_Research_Spring_2010.js") %>
  </head>
  <body style="background: rgb(101, 101, 101); margin: 0pt; " onload="onPageLoad();" onunload="onPageUnload();">
    <div style="text-align: center; ">
      <div style="margin-bottom: 10px; margin-left: auto; margin-right: auto; margin-top: 10px; overflow: hidden; position: relative; word-wrap: break-word;  background: rgb(255, 255, 255); text-align: left; width: 700px; " id="body_content">
        <div style="margin-left: 0px; position: relative; width: 700px; z-index: 0; " id="nav_layer">
          <div style="height: 0px; line-height: 0px; " class="bumper"> </div>
          <div class="com-apple-iweb-widget-navbar flowDefining" id="widget0" style="margin-left: 20px; margin-top: 0px; opacity: 1.00; position: relative; width: 660px; z-index: 1; ">
    
            <div id="widget0-navbar" class="navbar">

      
              <div id="widget0-bg" class="navbar-bg">

        
                <ul id="widget0-navbar-list" class="navbar-list">
 <li></li> 
</ul>
                
      
</div>
              
    
</div>
          </div>
          <script type="text/javascript"><!--//--><![CDATA[//><!--
new NavBar('widget0', '/javascripts/Widgets/Navbar', '/javascripts/Widgets/SharedResources', '.', {"path-to-root": "", "navbar-css": ".navbar {\n\tfont-family: 'Helvetica Neue', Arial, sans-serif;\n\tfont-size: .8em;\n\tcolor: #666666;\n\tline-height: 30px;\n\tborder-bottom: 3px solid #ccc;\n}\n\n.navbar-bg {\n\ttext-align: right;}\n\n.navbar-bg ul {\n\tlist-style: none;\n\tmargin: 0px;\n\tpadding: 0px;\n}\n\n\nli {\n\tlist-style-type: none;\n\tdisplay: inline;\n\tpadding: 0px 5px 0px 0px;\n}\n\n\nli a {\n\ttext-decoration: none;\n\tpadding: 10px;\n\tcolor: #666666;\n\tfont-weight: bold;\n}\n\nli a:visited {\n\ttext-decoration: none;\n\tpadding: 10px;\n\tcolor: #666666;\n\tfont-weight: bold;\n}\n\nli a:hover\r{\r\n \tcolor: #999999;\n\ttext-decoration: none;\r}\n\n\nli.current-page a\r{\r\t color: #66ABC5;\n\ttext-decoration: none;\r}", "current-page-GUID": "7501178E-CE98-4D51-B800-C51D29CBFAAF", "isCollectionPage": "NO"});
//--><!]]></script>
          <div style="clear: both; height: 0px; line-height: 0px; " class="spacer"> </div>
        </div>
        <div style="height: 75px; margin-left: 0px; position: relative; width: 700px; z-index: 10; " id="header_layer">
          <div style="height: 0px; line-height: 0px; " class="bumper"> </div>
          <div id="id1" style="height: 43px; left: 22px; position: absolute; top: 16px; width: 515px; z-index: 1; " class="style_SkipStroke shape-with-text">
            <div class="text-content style_External_515_43" style="padding: 0px; ">
              <div class="style">
                <p style="padding-bottom: 0pt; padding-top: 0pt; " class="Header">Energy Research Team</p>
              </div>
            </div>
          </div>
          


          <div id="id2" style="height: 43px; left: 432px; position: absolute; top: 17px; width: 248px; z-index: 1; " class="style_SkipStroke_1 shape-with-text">
            <div class="text-content style_External_248_43" style="padding: 0px; ">
              <div class="style_1">
                <p style="padding-bottom: 0pt; padding-top: 0pt; " class="Heading_1">Spring 2010</p>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-left: 0px; position: relative; width: 700px; z-index: 5; " id="body_layer">
          <div style="height: 0px; line-height: 0px; " class="bumper"> </div>
          <div style="height: 1px; line-height: 1px; " class="tinyText"> </div>
          <div style="margin-left: 290px; margin-top: 384px; position: relative; width: 400px; z-index: 1; " class="style_SkipStroke_2 shape-with-text flowDefining">
            <div class="text-content style_External_400_332" style="padding: 0px; ">
              <div class="style_2">
                <p style="padding-top: 0pt; " class="paragraph_style">Spring 2010 was the first energy research project at The Island School. Some of our main focuses were collecting our production and consumption data, breaking down consumption by source for the first time, and doing a full-scale campus energy audit. As the semester progressed, the campus energy audit became the bulk of our study.<br /></p>
                <p class="paragraph_style"><br /></p>
                <p class="paragraph_style">To create the energy audit we did a walk-through of campus and catalogued all of the energy consumers on campus, as well as their wattage and estimated time used. We then compiled all of the information to model an average day of consumption at The Island School, cross checking our data with what we knew to be an average day of consumption.<br /></p>
                <p class="paragraph_style"><br /></p>
                <p class="paragraph_style">The energy audit became a useful tool because in using it we were able to see what the biggest consumers on campus were, and where research should be focused in the future. <br /></p>
                <p class="paragraph_style"><br /></p>
                <p class="paragraph_style_1">                   See next page for results and analysis<span class="style_3"><br /></span></p>
              </div>
              <div style="height: 15px; line-height: 15px; " class="tinyText"> </div>
            </div>
          </div>
          


          <div id="id3" style="height: 24px; left: 290px; position: absolute; top: 359px; width: 400px; z-index: 1; " class="style_SkipStroke_3 shape-with-text">
            <div class="text-content Normal_External_400_24" style="padding: 0px; ">
              <div class="Normal">
                <p style="padding-bottom: 0pt; padding-top: 0pt; " class="Title">Energy Spring 2010 Research Group</p>
              </div>
            </div>
          </div>
          


          <div style="height: 280px; width: 399px;  height: 280px; left: 286px; position: absolute; top: 18px; width: 399px; z-index: 1; " class="tinyText stroke_0">
            <div style="position: relative; width: 399px; ">
              <%= image_tag("ers/shapeimage_1.png") %>
            </div>
          </div>
          


          <div style="height: 164px; width: 260px;  height: 164px; left: 15px; position: absolute; top: 134px; width: 260px; z-index: 1; " class="tinyText stroke_1">
            <div style="position: relative; width: 260px; ">
              <%= image_tag("ers/shapeimage_2.png") %>
            </div>
          </div>
          


          <div style="height: 105px; width: 260px;  height: 105px; left: 15px; position: absolute; top: 18px; width: 260px; z-index: 1; " class="tinyText stroke_2">
            <div style="position: relative; width: 260px; ">
              <%= image_tag("ers/shapeimage_3.png") %>
            </div>
          </div>
          


          <div id="id4" style="height: 36px; left: 283px; position: absolute; top: 308px; width: 414px; z-index: 1; " class="style_SkipStroke_1 shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_414_36" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default">
                <p style="padding-bottom: 0pt; padding-top: 0pt; " class="Free_Form">From left to right: Graham Siener, Helen Pierson, Julia Diaz, Wilson Cusack, Hannah Cope, Emma Payne, Kitch Wakemen, Karl Hanson</p>
              </div>
            </div>
          </div>
          


          <div style="height: 195px; width: 260px;  height: 195px; left: 15px; position: absolute; top: 309px; width: 260px; z-index: 1; " class="tinyText style_SkipStroke_4 stroke_2">
	          <%= image_tag("ers/IMG_0919.jpg") %>
          </div>
          <div style="height: 0px; line-height: 0px; " class="spacer"> </div>
        </div>
        <div style="height: 75px; margin-left: 0px; position: relative; width: 700px; z-index: 15; " id="footer_layer">
          <div style="height: 0px; line-height: 0px; " class="bumper"> </div>
        </div>
      </div>
    </div>
  </body>
</html>


